/* メディアクエリ */
/* タブレット向け */
@media(max-width:1000px){
  .home-title{
    font-size: 2.5rem;
  }

  /* big-img{
    width: 100%;
  } */

  .wrapper{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
  }

  .page-header{
    margin-bottom: 100px;
  }

}

@media(max-width:670px){
  .home-title{
    font-size: 2.5rem;
  }

  /* big-img{
    width: 100%;
  } */

  .wrapper{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
  }

  .page-header{
    flex-direction: column;
    align-items: center;
  }

  .page-header{
    margin-bottom: 30px;
  }

  .dot{
    display: none;
  }

  .media{
    white-space: pre;
  }

  .menu-list li{
    margin-left: 10px;
  }

  
  /* News Gallery*/
  .news-contents{
    flex-direction: column;
  }

  article , aside{
    width: 100%;
  }

  #news , #gallery{
    height: auto;
    margin-bottom: 30px;
  }

  .home-title h2{
    font-size: 30px;
  }

  .page-header{
    margin: 0;
  }

  article{
    margin-bottom: 20px;
  }

  .grid{
    margin-top: 20px;
  }

  .item{
    margin: 0 auto;
    margin-bottom: 30px;
  }

  /* Contribution */
  .contribution-title{
    font-size: 2.5rem;
  }

  .contribution-content p{
    font-size: 1.225rem;
  }

  #contribution{
    height: auto;
    padding-bottom: 20px;
    background-position: -400px 0px;
  }

  #location .wrapper{
    flex-direction: column;
  }

  .location-info, .location-map{
    width: 100%;
  }

}

/* *は全ての要素に適応 */
/* border-boxはwidthの合計にpaddingやborderを含む */
/* 未然にレイアウト崩れを防ぐことができる */
*{
  box-sizing: border-box;
}